* {
  font-family: "Roboto", serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#player-form {
  display: none;
}

#player-form.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#game-container.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#game-container {
  display: none;
}

#title {
  font-size: 2em;
  margin-bottom: 1em;
}

#Scoreboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}

#player1-score,
#player2-score {
  font-size: 1.2em;
}

#reset-button {
  margin-left: auto;
  margin-right: auto;
}

#bothBoards {
  display: flex;
  gap: 25px;
  margin-top: 20px;
}

.board-container {
  display: grid;
  grid-template-rows: repeat(10, minmax(10%, max-content));
  grid-template-columns: 1fr;
  width: min(85vw, 85vh);
  height: min(85vw, 85vh);
  justify-content: center;
}

.row {
  display: flex;
  gap: 2px;
  margin-bottom: 2px;
}

.boardSquare {
  width: 10%;
  flex: 1;
  border-radius: 6px;
  height: 100%;
  background-color: white;
}

.boardSquare.ship {
  background-color: #808080;
}

.board-container.waiting:not(.disabled)
  .row
  .boardSquare:not(.disabled):empty:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}
