* {
  font-family: "Roboto", serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
#startScreen-container {
  display: none;
}
#startScreen-container.active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}
#player-form {
  display: none;
}

#player-form.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 5px;
}

#start-button + #myTooltip {
  visibility: hidden;
  transition: opacity 0.3s;
}

#start-button:hover + #myTooltip {
  visibility: visible;
  opacity: 1;
}

#game-container.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#game-container {
  display: none;
}

#title {
  font-size: 2em;
  margin-bottom: 1em;
}

#Scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  max-width: 400px;
  gap: 15px;
}

#player1-score,
#player2-score {
  flex: 1;
  font-size: 1.2em;
  font-weight: bold;
}

#player1-score {
  text-align: right;
}
#player2-score {
  text-align: left;
}

#reset-button {
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  cursor: pointer;
}

#bothBoards {
  display: flex;
  gap: 25px;
  margin-top: 20px;
}

.board-container {
  display: grid;
  grid-template-rows: repeat(10, minmax(10%, max-content));
  grid-template-columns: 1fr;
  width: min(80vw, 80vh);
  height: min(80vw, 80vh);
  justify-content: center;
}

.row {
  display: flex;
  gap: 2px;
  margin-bottom: 2px;
}

.boardSquare {
  width: 10%;
  flex: 1;
  border-radius: 6px;
  height: 100%;
  background-color: white;
}

.boardSquare.ship {
  background-color: #808080;
}

.board-container.waiting:not(.disabled)
  .row
  .boardSquare:not(.disabled):empty:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}
#win-dialog:open {
  display: flex;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1;
  align-self: center;
  justify-self: center;
}
#close-win-dialog {
  margin: 10px 8px 30px 7px;
  padding: 1px 8px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  height: 25px;
}
#close-win-dialog:hover {
  background-color: #0056b3;
}

#win-screen {
  font-size: 1.5em;
  text-align: center;
  margin: 20px 15px;
}
